/IOT_hw3/IMS_data/
/IOT_hw4/IMS_data/
/Hw02/Plot/
/Hw04/figure/
/IOT_hw3/.ipynb_checkpoints/
/IOT_hw4/cifar-100-python/
/IOT_hw4/.ipynb_checkpoints/
/IOT_hw4/data_X.csv
/IOT_hw4/data_Y.csv
/IOT_hw4/sample_submission.csv
